# Build results
bin/
obj/

# Visual Studio files
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE specific
.idea/
*.iml
*.DotSettings

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Package management
*.nupkg
*.snupkg
*.nuspec
packages/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Coverage
*.coverage
*.coveragexml

# Others
launchSettings.json